{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{STATIC_URL}}img/favicon.ico">

        <title>Title</title>

        {% if debug %}
            <!-- use less.js to compile less files in dev environments (debug true and internal ip in settings) -->
            <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/base.less">
            <script src="{{ STATIC_URL }}js/less.js"></script>
        {% else %}  
            <!-- use django compressor and lessc to compile and compress less files in production -->
            {% compress css %}
            <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/base.less">
            {% endcompress %}
        {% endif %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        {% block body %}{% endblock %}
        <!-- JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        {% compress js %}
        {% include 'includes/javascript.html' %}

        {% endcompress %}
        
    </body>
</html>
