{% load compress static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <title>Project Title</title>

        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/base.scss' %}">
        {% endcompress %}
    </head>

    <body>
        {% block body %}{% endblock %}
        <!-- JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        {% compress js %}
        {% include 'includes/javascript.html' %}
        {% endcompress %}

        {% compress js %}
        {% block extra %}{% endblock extra %}
        {% endcompress %}
    </body>
</html>
