{% extends 'layout.html' %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>Index Banner</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Action</a></p>
    </div>
</div>

<div class="container">
    <h1 class="page-header">Index Page</h1>
    <p class="lead">Index content here...</p>
</div>
{% endblock %}